body {
  background-color: #fbf3eb !important ;
  background: url(../images/bg-top.gif) repeat-x  top ,
  url(../images/bg-btm.gif) bottom repeat-x;
}
.image2{width:200%;
  margin-top:15px;
  margin-left:7px;
  padding-bottom:10px;
  

}
  .src {
    color: #eff5f8;
    border: 0px solid hsl(200, 39%, 95%);
    border-radius: 15px;
  }
  .btn{color: #eff5f8;
    font-size:10pt;
    border: 0px solid #eff5f8;
    background-color:white;
    border-radius:20px;
    color:#17577a;
    padding-bottom:1px;
    padding-left:5px;
    padding-top:1px;
    padding-right:5px;
    margin-top:10px;
    margin-bottom:5px;
  }
  .btny{
    font-size:10pt;
    
    color:#17577a;
    padding-bottom:1px;
    padding-left:5px;
    padding-top:1px;
    padding-right:5px;
    margin-top:10px;
    margin-bottom:5px;
  }
@font-face {
  font-family: "RotondaC-B";
  src: url("./fonts/RotondaC-Bold.eot");
  src: url("./fonts/RotondaC-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/RotondaC-Bold.svg#RotondaC-Bold") format("svg"),
    url("./fonts/RotondaC-Bold.ttf") format("truetype"),
    url("./fonts/RotondaC-Bold.woff") format("woff"),
    url("./fonts/RotondaC-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.news{color:aquamarine;text-decoration:underline;padding-top:6px;margin-left:27px;}

.bgimg{
  background-image: url(../images/cloud.gif);
 display:block;
 background-size:auto;
 padding-bottom:20px;
}
.bgimg1{
  background-image: url(../images/fld1.gif);
 display:block;
 background-size:contain;
 padding-bottom:80px;
 background-size: auto;padding-top:25px;padding-left:65px;
 
}
.bgimg2{
  background-image: url(../images/fld1.gif);
 display:block;
 background-size:contain;
 padding-bottom:35px;
 background-size:100%;padding-top:25px;padding-left:6px;
 margin-bottom:200px;
}
.bgimg4{
  background-image: url(../images/zfld.png);
 display:block;
 background-size:auto;
 padding-bottom:35px;
 background-size:100%;padding-top:250px;padding-left:160px;padding-right:160px;padding-bottom:515px;
 margin-bottom:100px;
}
.bgimg3{
  background-image: url(../images/fl9.png);
 display:block;
 background-size:contain;
padding-bottom:5px;
 background-size:100%;padding-top:15px;padding-bottom:40px;padding-left:5px;padding-right:25px;margin-bottom:10px;margin-right:50px;margin-top:50px;

}
.bgimg5{
  background-image: url(../images/fld7.png);
  display:block;
  background-size:contain;
 
  background-size:100%;padding-top:25px;padding-left:25px;
  
 }
.zagol{
  font-weight:bold;
  font-size:17px;
  margin-top:5px;
}
.btnoform{
background-color:#3da0d1;
  color:white;
  margin-left:7px;
  border:0px solid;
  border-radius:20px;
  margin-left:7px;
  margin-bottom:7px;
}
.data{
  margin-top:5px;
  margin-bottom:15px;
  margin-left:15px;
}
H1 {
  
  font-size: 200%;
  font-family: Arial, Verdana, sans-serif;
  text-align: center;
}
P {
  padding-left: 20px;
}
a{color:#f85c37;
margin-top:2px;}
.myh1 {
  color: #17577a;
  text-shadow: white 1px 1px 0, white -1px -1px 0, white -1px 1px 0,
    white 1px -1px 0;
}
.smh{
  font-family:"Rotondac-B" ;
  font-size:20px;
  color: #2d5d7e;
  margin-top:3px;
}
.smhgrn{
  font-family:"Rotondac-B" ;
  font-size:15px;
  color: green;
  margin-top:3px;
  margin-left:5px;
}
.myh2 {
  color: #17577a;
  margin-left: 7px;
  text-shadow: white 1px 1px 0,white -1px -1px,white -1px 1px,white 1px -1px;
}
.smh1 {
  font-family: "RotondaC-B";
  color: #2d5d7e;
  font-size: 17pt;
  line-height: 13pt;
  text-shadow: white 2px 2px 0, white -2px -2px 0, white -2px 2px 0,
    white 2px -2px 0;
}
.image2 {
  margin-top: 15px;
  width: 75%;
}
.banner{
  position:relative; top: -200px; left:170px;
}