
@font-face {
  font-family: "RotondaC-B";
  src: url("../fonts/RotondaC-Bold.eot");
  src: url("../fonts/RotondaC-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RotondaC-Bold.svg#RotondaC-Bold") format("svg"),
    url("../fonts/RotondaC-Bold.ttf") format("truetype"),
    url("../fonts/RotondaC-Bold.woff") format("woff"),
    url("../fonts/RotondaC-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.myh1 {
  color: #17577a;
  text-shadow: white 1px 1px 0, white -1px -1px 0, white -1px 1px 0,
    white 1px -1px 0;
    padding: 10px 0  0 0;
}
.myh2 {
  color: #17577a;
  margin-left: 10px;
  text-shadow: white 1px 1px 0, white -1px -1px 0, white -1px 1px 0,
    white 1px -1px 0;
}
body {
    background-color: #fbf3eb !important ;
    background: url(../Images/bg-top.gif) top repeat-x,url(../images/bg-btm.gif) bottom repeat-x;
    
}
.header {
   
    padding: 0 0 0 0;
    
     
}
#left{
  padding: 30px 0 0 45px;
}
#search-form {
   
    
    width: 180px;
    height: 30;
    padding-left: 20px;
    padding-right: 20px;
   border-radius: 40px;
       outline:none;
    border: none;
}
.button1{
    background-color: transparent;
    border: none;
    border-radius: 100%;
     

}
.button2{
    background-color: transparent;
    border: none;
    border-radius: 100%;
     
   
}
.button3{
    padding: 15px 0 0 0; 
    background-color: transparent;
    border: none;
    border-radius: 100%;
      outline:none;
    border: none;
    
   
}


#logo{
    padding: 25px 0 0 45px; 
}
.container-form {
    margin-left: 15px;
   padding: 35px 30px;  
}

#text-nomer
{
     padding: 0 0 30px 0; 
   font-family: "RotondaC-B";
  color: #2d5d7e;
  font-size: 17pt;
  line-height: 13pt;
  text-shadow: white 2px 2px 0, white -2px -2px 0, white -2px 2px 0,
    white 2px -2px 0
}
#prav{
   
}
#raspis{
     margin-top: 20px;
}
#obr-zvon{
     margin-top: 20px;
}
.container-catalog{
    padding: 0 0 0 0; 
}
.nazvkat {
     color: #425e7c;
    font-family: 'Comic Sans MS';
    font-size: 20px;
 
}
.katalog , li{
    display: block;
    padding: 0;
    margin: 0;
    color:#0f0000;
}
.katalog__item a {
    font-family: 'Trebuchet MS';
    font-size: 15px;
    color: #0f0000;
   
}
#mebel {
    padding: 40px 0 0 0; 
}
.nazvkat1 {
     margin-bottom: 40px;
    color: #425e7c;
    font-family: 'Comic Sans MS';
    font-size: 15px;
     text-align: center;
}
#avtokreslo {
    padding: 20px 0 0 0; 
}
#katalka {
    padding: 20px 0 0 0;
}
#konbki {
    padding: 25px 0 0 0;
}
.container-catalog1{
    padding: 0 0 0 0; 
}
.odezhda {
     text-align: left;
}
#right{
    padding: 25px 0 0 0; 
}
#girl{
  
}
.myh6{
    padding: 5px 0 0 38px;  
    font-family:'Comic Sans MS' ;
    font-size: 13px;
    font-weight: bold;
    
}
.Catalog{
    padding: 90px 0 150px 0; 
}
.mybtn1 {
  font-family: "RotondaC-B";
  font-size: 10pt;
  background: #3da0d1;
  color: white;
  border: 2px solid #c5e5f9;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  margin-left:15%;
}
.bimage {
  background-image: url(../images/cloud.gif);
  background-position: 0px 30px 10px ;
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 65px;
  padding-right: 20px;
  background-repeat: no-repeat;
  background-size: auto;
}
.decr {
  display: block;
  
 
  padding-bottom: 40px;
  font-family: "Trebuchet MS";
  font-size: 11pt;
}
.bimage1 {
  background-image: url(../images/brendy.png);
  background-repeat: no-repeat;
     background-position: 0px 10px;
  background-size: contain;
  display: block;
  padding-bottom: 80px;
    padding-left: 35px;
}
.smh {
  font-family: "RotondaC-B";
  color: #2d5d7e;
  font-size: 14pt;
  line-height: 13pt;
  display: block;
   
}
.newslnk {
  display: block;
  font-family: "Trebuchet MS";
  color: black;
  font-size: 11pt;
  text-decoration: underline;
  margin-left: 0px;
    margin-bottom: 25px;
}
.hd1 {
  font-family: "Trebuchet MS";
  display: block;
  font-size: 11pt;
  color: #2d5d7e;
  text-decoration: underline;
  margin-bottom: 6px;
  padding-right: 50px;
}
.bimage2 {
  background-image: url(../images/brendy.png);
  background-repeat: no-repeat;

  background-size: contain;
  display: block;
  padding-bottom: 25px;
    padding-left: 30px;
}
.newstxt {
  font-family: "Trebuchet MS";
  display: block;
  color: black;
  font-size: 11pt;
  padding-right: 50px;
}
#logo-bot{
    padding: 150 0 0 0;
}
.nomer-bot{
padding: 15px 0 0 0;
}
#text-nomer2
{
     padding: 0 0 150px 0; 
   font-family: "RotondaC-B";
  color: #2d5d7e;
  font-size: 17pt;
  line-height: 13pt;
  
}
#nomer{
    padding: 0 0 8px 0;
}
.icon {
  width: 26px;
  height: 26px;
  background: url(../images/icons.png) no-repeat;
}
.icons{
    padding: 10px 0  0;
}
.form-foot{
    padding: 0 0 50px 0;
}

footer {
  background-position: 100%;
  height: 150px;
}
footer {
  background-position: 100%;
  height: 150px;
}
#text-putb{
    font-size: 10pt;
    color:#415d7c;
}
.nazv-cat{
    font-family: "RotondaC-B";
  color: #2d5d7e;
  font-size: 17pt;
}
.menuimg{
background-image: url(../Images/menuimg.png);

  background-size: contain;
  display: block;
 
}
#sort{
   font-size: 20pt;
}
#po-po{
   margin-bottom: 15px;
}
#menu-text{
    padding-right: 25px;
    margin-bottom: 25px; 
}
.menu-but{
   background-color: transparent;
    border: none; 
}
.nazv-koly {
   font-family: 'Trebuchet MS';
    font-weight: bold;
   font-size: 14pt;
    
}
.fonimg{
     height: auto;
    width: auto;
    background-position:center;
    background-image: url(../Images/fonimg.png);
 padding-bottom: 15px;
  background-size: cover;
  display: block;
}
.list02{
    padding-top: 50px;
}
.v-korzinu{
     background-color: transparent;
    border: none;
    border-radius: 0 10px;
    padding-top: 10px;
}
.vnal{
    font-family: 'Trebuchet MS';
    color: #b5c830;
}
.old-price{
text-decoration: line-through;
    padding-bottom: 15px;
}
.strnom{
background-image: url(../Images/menuimg.png);
height:200%;
    width: 100%;
  display: block;
 
}
#nazad:focus{
 
   outline: none; 
        
}
.stranizi{
    padding-left: 15px;
    padding-bottom: 16px;
    background-color: transparent;
    border: none; 
    
    border-radius: 100%;
}
.stranizi1{
    
    padding-bottom: 16px;
    background-color: transparent;
    border: none; 
    outline: none; 
    outline: none; 
    border-radius: 100%;
}
.oblako{
    padding-left: 100px;
}
.vidimg{
    background-image: url(../Images/vid.png);
        height:110%;
    width: 110%;
    display: block;
}
.vid{
     padding-left: 100px;
}
.vid-check{
    display: block;
    user-select: none;
    padding-left: 35px;
}
.brendimg{
    background-image: url(../Images/brends.png);
        height:110%;
    width: 110%;
    display: block;
}
.brend{
     padding-left: 100px;
}
.brend-check{
    display: block;
    user-select: none;
    padding-left: 35px;
}
.Xapakter{
    padding-left: 100px;
}
.Xapakterimg{
    background-image: url(../Images/Xapakter.png);
        height:110%;
    width: 110%;
    display: block;
}
.li{
    background-image: url(../Images/plus.png);
}
.Xar > ul > li{
    padding-left: 25px;
   
    background: url(../Images/plus.png)no-repeat ;
}
.Xar >ul > li.active{
    
    background: url(../Images/Minus.png)no-repeat;
}    
.Xar>ul>li .child{
    display: none;
}
.Xar>ul>li.active .child{
    display: block;
}
.myli{
    color: black;
}
.Katalog{
  padding-left: 100px;  
}
.Katalogimg{
    background-image: url(../Images/Katalog.png);
        height:110%;
    width: 110%;
    display: block; 
}
.lider{
    padding-left: 130px; 
}